body {
    margin: 2rem;
    text-align: center;
    background-color: rgb(130, 15, 75);
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border: 2px solid rgb(124, 122, 122);
    border-radius: 10px;
    height: 100%;
    width: 40%;
    text-align: center;
}
